USE [TESTTCP]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cabecera](
	[ID] [int] IDENTITY(2000,1) NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[Cli_ID] [int] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cabecera]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cabecera_Clients] FOREIGN KEY([Cli_ID])
REFERENCES [dbo].[Clients] ([ID])
GO
ALTER TABLE [dbo].[Cabecera] CHECK CONSTRAINT [FK_Factura_Cabecera_Clients]
GO
